@model EmployeeManagementSystem.Models.Company
@{
    ViewData["Title"] = "Delete";
}

<form method="post" asp-controller="Companies" asp-action="Delete">
   @* <input asp-for="CompanyId" hidden />*@
    <div class="border p-3">
        <div class="form-group row">
            <h1 class="text-info p1-3">Delete Company</h1>
        </div>
        <div class="row">
            <div class="col-8">
                 <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CompanyId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="CompanyId" class="form-control" />
                        <span asp-validation-for="CompanyId" class="text-danger"></span>
                    </div>
                </div>
                 <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CompanyName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="CompanyName" class="form-control" />
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>
                </div>
                 <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CompanyAddress"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="CompanyAddress" class="form-control" />
                        <span asp-validation-for="CompanyAddress" class="text-danger"></span>
                    </div>
                </div>
                 <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="City"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                 <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PostalCode"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PostalCode" class="form-control" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                </div>
                 <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Country"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>
                 <div class="form-group row">
                    @*<div class="col-6 offset-4 row">*@
                    <div class="col-4 offset-4">
                        <input type="submit" class="btn btn-info w-100" value="Delete" />
                    </div>
                   <div class="col">
                            @if (ViewBag.Message != null)
                            {
                                @*<a class="nav-link text-dark btn-primary font-weight-bold" style="margin: 10px; background-color: #ffdd0f;top: 2px " asp-area="" asp-controller="Admin" asp- asp-action="Get">Get Employees</a>*@
                                <a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: #ff8d00;float: right" asp-area="" asp-controller="Companies" asp- asp-action="Get">Get Company</a>
                                <script type="text/javascript">
                                                    window.onload = function () {
                                                    alert("@ViewBag.Message");
                                                    };
                                </script>
                            }
                        </div>
                    @*</div>*@
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</form>

