@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome To</h2>
    <h1>Employee Management System</h1>
    <div><h1>SignIn</h1>
    <br />
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: #0085ff; " asp-area="" asp-controller="Account" asp-action="SignIn">Admin</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: #0094ff; " asp-area="" asp-controller="Account" asp- asp-action="SignIn">Employee</a></h2>
    </div>
    
    
</div>
